@import '@zendeskgarden/css-bedrock';

.main {
  height: 100%;
  min-height: 100%;
  vertical-align: middle;
}

.loader {
  display: block;
  margin: auto;
  width: 25%;
  height: 25%;
}

.urls {
  color: #2F3941;
  background-color: #ffffff;
  background-image: none;
  white-space: nowrap;
  font-weight: 600;
  width: auto;
}

.url-list {
  text-align: center;
}

ul {  
  list-style-type: none;  
}
